<div class="content-wrapper" style="height: 100vh; max-height: 200vh;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Create or Edit Article</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Article</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="title">Article Title</label>
                    <input type="text" class="form-control" [(ngModel)]="title"  name="title" id="title" placeholder="Enter title">
                  </div>
                  <div class="form-group">
                    <label for="body">Article Content</label>
                    <textarea class="form-control" [(ngModel)]="body" name="body" id="body" placeholder="Enter content"></textarea>
                  </div>
                    <div class="form-group">
                    <label for="imageUrl">Image</label>
                    <input type="text" class="form-control" [(ngModel)]="imageUrl" name="imageUrl" id="imageUrl" placeholder="Enter image URL">
                  </div>  
                </div>
                <!-- /.card-body -->
                <div class="card-footer d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" (click)="createArticle()">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
      </div>
    </section>

    @if(success){
      <div class="alert alert-success" role="alert" style="position: fixed; bottom: 20px; right: 20px;">
        Created successfully! <br> Waiting to be published.
    </div>
    }

    @if(error){
      <div class="alert alert-danger" role="alert" style="position: fixed; bottom: 20px; right: 20px;">
        {{ error }}
    </div>
    }
    

</div>