<div class="content-wrapper" style="height: 100vh; max-height: 200vh;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Access Matrix</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Permission</th>
                                @for(role of roles; track role.name){
                                    <th>{{role.name}}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for(permission of permissions; track permission.name){
                            <tr>
                                <td>{{permission.name}}</td>
                                @for(role of roles; track role.name){
                                    <td>
                                        {{ isRoleHavingPermission(role, permission) ? '✔️' : '❌' }}
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                    @if(loadingRoles || loadingPermissions){
                        <div class="overlay">
                            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </div>
                    }

                    @if(roleError && permissionError){
                        <div class="text-danger m-3">
                            Failed to load roles and permissions.
                        </div>
                    }@else {
                        @if(roleError){
                        <div class="text-danger m-3">
                            {{ roleError }}
                        </div>
                        }
                        @if(permissionError){
                        <div class="text-danger m-3">
                            {{ permissionError }}
                        </div>
                        }
                    }
                   
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

</div>