<div class="content-wrapper" style="height: 100vh; max-height: 200vh;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Access Matrix</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>create_article</th>
                                <th>edit_article</th>
                                <th>delete_article</th>
                                <th>view_article</th>
                                <th>access_matrix</th>
                                <th>manage_users</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @for(role of roles; track role.name){
                            <tr>
                                <td>{{role.name}}</td>
                                <td>
                                    {{ hasPermission(role, 'create_article') }}
                                </td>
                                <td>
                                    {{ hasPermission(role, 'edit_article') }}
                                </td>
                                <td>
                                    {{ hasPermission(role, 'delete_article') }}
                                </td>
                                <td>
                                    {{ hasPermission(role, 'view_article') }}
                                </td>
                                <td>
                                    {{ hasPermission(role, 'access_matrix') }}
                                </td>
                                <td>
                                    {{ hasPermission(role, 'manage_users') }}
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

</div>